@font-face {
    font-family: 'TT Octosquares';
    src: url(font/TT-Octosquares-Trial-Variable.ttf);
}

@font-face {
    font-family: 'Shrikhand';
    src: url(font/Shrikhand-Regular.ttf);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    color: white;
    font-family: 'TT Octosquares';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.telaToda {
    width: 100vw;
    height: 100vh;
    background-color: #091328;
    display: flex;
}

.barraLateral {
    width: 22%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #181a9b, #0b1057b7, #0b0d74);
    border-radius: 0px 4vh 4vh 0px;
    transition: 1000ms;
    /* justify-content: space-around; */
}

.barraLogo {
    width: 90%;
    height: 15%;
    /* border: red 2px solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.barraLogo p {
    font-size: 5vh;
    font-family: 'Shrikhand';
}

.barraLogo img {
    width: 8vh;
    height: auto;
}

.barraItens {
    width: 90%;
    height: 60%;
    /* border: red 2px dotted; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barraItens ul {
    width: 100%;
    height: 100%;
    margin-left: 20%;
    align-items: left;
    /* border: green 2px solid; */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.barraItens ul li:hover {
    cursor: pointer;
    border-bottom: solid 0.1vh white;
}


.barraItens a {
    text-decoration: none;
}

.barraItens a li {
    font-size: 3.5vh;
}

.selected {
    border-bottom: solid 0.1vh white;
}

.fotoUsuario {
    width: 90%;
    height: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    /* border: red 2px solid; */
}

.fotoUsuario span {
    font-size: 3vh;
}

.bolaFoto {
    width: 50%;
    height: 60%;
    border-radius: 50%;
    background-color: white;
    border: black 0.2vh solid;
    align-items: center;
}

.bolaFoto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

