.cardLogin {
    width: 50%;
    height: 85%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    align-items: center;
}

.login {
    width: 70%;
    height: 65%;
    display: flex;
    flex-direction: column;
    background-color: #0D2962;
    justify-content: space-evenly;
    border-radius: 5vh;
    align-items: center;
}

.cardLogin h1 {
    font-size: 8vh;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(225, 10, 82, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(243, 9, 153, 0.5));
}

.cardLogin button {
    width: 40%;
    height: 10%;
    margin-top: 2%;
    border-radius: 5vh;
    background-color: #1120BB;
    border: black 1px solid;
    font-size: 5vh;
}


.card {
    width: 95%;
    height: 30%;
    display: flex;
    flex-direction: column;
    /* border: red 2px solid; */
    margin-left: 3%;
}

.card input {
    background-color: #1120BB;
    width: 85%;
    height: 40%;
    color: white;
    border-radius: 5vh;
    padding-left: 4%;
}

.card input::placeholder {
    color: white;
    font-family: 'TT Octosquares';
}

.titulo span {
    font-size: 4vh;
}