.areaCardInimigos {
    width: 78%;
    height: 100%;
    margin-left: 3%;
    overflow-x: hidden;
    overflow-y: auto;
    /* border: red 5px dotted; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.areaCardInimigos h1 {
    margin-left: 20%;
}

.linhaCards {
    width: 100%;
    height: 50%;
    /* border: red 5px dotted; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cardInimigos {
    width: 28%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 4vh;
    background-color: black;
    align-items: center;
    border: red 2px solid;
    justify-content: space-around;
}

.areaFotoInimigos {
    width: 100%;
    height: 40%;
    /* border: red 3px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImagem {
    width: 48%;
    height: 96%;
    background-color: #140237;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImagem img {
    width: 98%;
    height: 98%;
    border-radius: 2vh;
    image-rendering: pixelated;
}

.cardDescricao {
    width: 80%;
    height: 60%;
    /* border: red 3px solid; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardDescricao h1 {
    font-size: 4vh;
}

.descricao {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    border: white 2px solid;
    overflow-y: scroll;
}

.cardGrafico {
    width: 62%;
    height: 90%;
    background-color: black;
    border: red 2px solid;
    border-radius: 4vh;
    display: flex;
}

.textoGrafico {
    width: 55%;
    height: 100%;
    padding-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoGrafico p {
    font-size: 4vh;
}

.grafico {
    /* border: red 2px solid; */
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}